!!!
%html{ :lang => I18n.locale.to_s.downcase }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %title= "#{page_title} • APP_NAME"

    = stylesheet_link_tag "application", :media => "all"
    = yield(:stylesheet)

    = dispatcher_tag
    = csrf_meta_tag

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} APP_NAME
          .nav-collapse
            %ul.nav
              %li= link_to "Browse Products", products_path
              %li= link_to "Price List"
              %li= link_to "Contact Us"
              %li= link_to "Cart"

    %page.container
      .content
        %header.clearfix.page-header
        %main.clearfix
          - flash.each do |name, msg|
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = msg
          = yield
      %footer
        %p.copyright
          Copyright &copy; #{Date.current.year} APP_NAME.

    :javascript
      // put here some global variables
    = javascript_include_tag "application"
    = yield(:javascript)

    /[if lt IE 9]
      = javascript_include_tag "selectivizr.min"
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    - if Rails.env != "development"
      = render "shared/analytics"
